<main role="main" class="container">
    <h1>Tambah Data Kota</h1>
    <div class="card shadow col-md-6">
        <div class="card-header">
            <h4 class="text-primary">Detail Kota</h4>
        </div>
        <div class="card-body">
            <form action="/AddKota" method="post">
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="kode_kota" class="form-label">Kode Kota</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="kode_kota" id="kode_kota" placeholder="Masukkan Kode Kota" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="nama" class="form-label">Nama</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="nama" id="nama" placeholder="Masukkan Nama" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="jenis" class="form-label">Jenis</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="jenis" id="jenis" placeholder="Masukkan Jenis (Kab/Kota)" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="id_provinsi" class="form-label">Provinsi</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="id_provinsi" id="id_provinsi" placeholder="Masukkan ID Provinsi" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" value="Kirim" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>