<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GetUser">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GetVendor">Vendor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GetPaket">Paket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GetCustomer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GetProvinsi">Provinsi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GetKota">Kota</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GetPengiriman">Pengiriman</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/GetBiaya">Biaya</a>
            </li>
        </ul>
    </nav>
</header>