<main role="main" class="container">
    <h1>Tambah Data Vendor</h1>
    <div class="card shadow col-md-6">
        <div class="card-header">
            <h4 class="text-primary">Detail Vendor</h4>
        </div>
        <div class="card-body">
            <form action="/AddPaket" method="post">
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="id_vendor" class="form-label">ID Vendor</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="id_vendor" id="id_vendor" placeholder="Masukkan id_vendor" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="nama" class="form-label">Nama</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="nama" id="nama" placeholder="Masukkan Nama Paket" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="deskripsi" class="form-label">Deskripsi</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="deskripsi" id="deskripsi" placeholder="Masukkan Deskripsi" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="berat" class="form-label">Berat</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="berat" id="berat" placeholder="Masukkan Berat" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="dimensi" class="form-label">Dimensi</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="dimensi" id="dimensi" placeholder="Masukkan Dimensi" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="harga" class="form-label">Harga</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="harga" id="harga" placeholder="Masukkan Harga" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="status" class="form-label">Status</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="status" id="status" placeholder="Masukkan Status" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" value="Kirim" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>