<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main role="main" class="container">
        <h1 class="mt-5">Tambah Paket</h1>
        <div>
            <form action="/tambah" method="post">
                <input type="text" name="id_paket" placeholder="Id_paket"><br><br>
                <input type="text" name="id_vendor" placeholder="Id_vendor"><br><br>
                <input type="text" name="nama" placeholder="Nama"><br><br>
                <input type="text" name="deskripsi" placeholder="Deskripsi"><br><br>
                <input type="number" name="berat" placeholder="Berat"><br><br>
                <input type="text" name="dimensi" placeholder="Dimensi"><br><br>
                <input type="number" name="harga" placeholder="Harga"><br><br>
                <input type="text" name="status" placeholder="Status"><br><br>
                <input type="submit" name="Submit">
            </form>
        </div>
    </main>
</body>
</html>