<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
</head>
<body>
    <main role="main" class="container">
        <h1 class="mt-5">My Website</h1>
        <h2>My Subscribers List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <% mySubscribers.forEach(subscriber => { %>
                    <tr>
                        <td>
                            <%= subscriber.name %>
                        </td>
                        <td>
                            <%= subscriber.email %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>            
        </table>
    </main>
</body>
</html>