<main role="main" class="container">
    <h1 class="mt-5">My Website</h1>
    <h2>My subcribers list</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <% mySubscribers.forEach(subscribers=> { %>
                <tr>
                    <td>
                        <%= subscribers.name %>
                    </td>
                    <td>
                        <%= subscribers.email %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</main>