<main role="main" class="container">
    <h1 class="mt-5">Subscribe to my Website</h1>
    <div>
        <form action="/subscribe" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="Email">
            <input type="submit" name="submit">
        </form>
    </div>
</main>